/* Genel stil ayarları */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	/* Modern font */
}

body {
	background: linear-gradient(135deg, #e0eafc, #68a4f2);
	/* Modern gradyan */
	color: #333;
}

/* Navbar */
.navbar {
	background-color: #1976d2;
	/* Navbar rengi */
	padding: 8px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: relative;
	/* Eklenen satır */
}

.navbar .logo {
	color: white;
	font-size: 28px;
	font-weight: 500;
}

.navbar .phone-number {
	color: white;
	font-size: 16px;
	position: absolute;
	/* Eklenen satır */
	top: 15px;
	/* Eklenen satır */
	right: 20px;
	/* Eklenen satır */
}

/* Sidebar */
.sidebar {
	width: 280px;
	background-color: #263238;
	/* Sidebar rengi */
	height: 100vh;
	padding: 30px;
	position: fixed;
	color: white;
}

.sidebar .mega-menu {
	width: 100%;
}

.sidebar .submenu {
	margin-top: 30px;
}

.sidebar .menuitem {
	color: #e0e0e0;
	font-size: 16px;
	display: block;
	padding: 15px;
	text-decoration: none;
	transition: background-color 0.3s ease;
	border-radius: 5px;
}

.sidebar .menuitem:hover {
	background-color: #37474f;
	cursor: pointer;
}

/* Menü simgeleri */
.pi {
	margin-right: 10px;
	font-size: 18px;
}

.pi-fw {
	font-size: 20px;
}

/* Main content */
.main-content {
	margin-left: 300px;
	/* Sidebar genişliği + biraz boşluk */
	padding: 30px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
	font-size: 36px;
	color: #1976d2;
	margin-bottom: 25px;
}

.main-content h2 {
	font-size: 29px;
	color: #1976d2;
	margin-bottom: 25px;
}

.main-content p {
	font-size: 18px;
	color: #757575;
	line-height: 1.6;
}

/* Kullanıcı giriş kontrol mesajları */
.welcome-message {
	font-size: 20px;
	color: #1976d2;
	font-weight: 500;
}

/* Giriş yapmamış kullanıcı mesajı */
.error-message {
	color: #d32f2f;
	font-size: 18px;
	font-weight: 500;
	display: block;
	margin-top: 25px;
}

/* Login Page CSS */
.login-page body {
	background: linear-gradient(135deg, #e0eafc, #68a4f2);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.login-page .login-container {
	text-align: center;

}